.mag-secondary-color {
    color: var(--mag-secondary-color);
}

.mag-main-color {
    color: var(--mag-main-color);
}

.mag-btn-secondary {
    background-color: var(--mag-secondary-color);
    border-color: var(--mag-secondary-color);
    color: white; 
}

.mag-btn:hover {
    color: white; 
    filter: grayscale(20%);
}

.mag-card-footer {
    background-color: unset;
    border-top: unset;
}

.mag-btn-success {
    background-color: var(--mag-success-color);
    color: white; 
    border-color: var(--mag-success-color);
}

