:root {
    --mag-main-color: #8c00b2;
    --mag-secondary-color: #f05656; 
}

.bg-mag-main {
    background-color: var(--mag-main-color);
}

.mag-border-bottom {
    border-bottom: 0.1875rem var(--mag-secondary-color) solid;
}

.navbar-brand-mag img {
    width: 8.75rem;
    height: auto;
}

.btn-group-mag {
    display: grid;
}

@media screen and (min-width: 768px) {
    .navbar-brand-mag {
        margin-right: 6.562rem;
    }

    .navbar-brand-mag img {
        width: 100%
        height: auto;
    }
    
    .btn-group-mag {
        display: inline-flex;
    }
}