@import './_variables.css';
@import './_utils.css';

.bg-mag-main {
    background-color: var(--mag-main-color);
}

.mag-border-bottom {
    border-bottom: 0.1875rem var(--mag-secondary-color) solid;
}

.navbar-brand-mag img {
    width: 8.75rem;
    height: auto;
}

.btn-group-mag {
    display: grid;
}

.mag-carousel-item-copy { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: grid; 
    grid-template-columns: 1fr;
    place-items: center;
}

.mag-banner-logo {
    max-width: 20rem;
    height: auto;
    margin: 0 auto;
}

.mag-banner-row {
    flex-wrap: wrap;
}

.mag-credit-card {
    padding: 1rem;
    padding-top: 3.75rem;
    padding-bottom: 4.68rem;
    font-size: 1.275rem;
    color: var(--mag-copy-color);   
}

.mag-credit-card i {
    font-size: 2.375rem;
    
}

.mag-title {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 3rem;
}

.mag-icon-and-text {
    display: grid;
    grid-template-columns: 2.375rem auto;
    gap: 2rem;
    align-items: center;
    margin-bottom: 1.875rem;
}

.mag-icon-and-text i{
   place-self: center;
}

.mag-icon-and-text:last-of-type {
    margin-bottom: 5rem;
}



@media screen and (min-width: 768px) {
    .navbar-brand-mag {
        margin-right: 6.562rem;
    }

    .navbar-brand-mag img {
        width: 100%;
        height: auto;
    }
    
    .btn-group-mag {
        display: inline-flex;
    }

    .mag-banner-logo {
        max-width: 100%;
        margin: 0;
    }

    .mag-banner-row {
        flex-wrap: nowrap; 
    }

    .mag-credit-card {
        padding-top: 6.15rem;
        padding-bottom: 5rem;
    }

    .mag-title {
        font-size: 3.5rem;
    }

    .mag-icon-and-text:last-of-type {
        margin-bottom: 1.875rem;
    }
}
    
   


